h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

:root {
  --main-h-color: aliceblue;
  --main-h-bc: rgb(43, 43, 53);
  --a-color: black;
  --footer-a: rgba(255, 255, 255, 0.5);
  --my-button-bc: rgb(64, 182, 237);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --nav-bk: #F5F4FA;
  --team-color: #F5F4FA;
}

body {
  margin: 0px;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

.section-title {
  margin-bottom: 24px;
}

h2 {
  font-size: 27px;
  text-align: center;
}

.span_studio {
  color: #000;
}

.span_web {
  color: var(--my-button-bc);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; */
  outline: 1px solid red;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_list {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  margin-left: 93px;
}

.header_list a:hover {
  color: var(--my-button-bc);
}

.current {
  color: var(--my-button-bc);
}

.header_nav_link {
  position: relative;
}

.header_nav_link.current::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  bottom: -14px;
  background-color: #2196f3;
}

.header_items {
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
}

#WebStudio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  /* margin-top: 16.4px; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_photo {
  justify-self: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 7%;
  font-size: 30px;
  /* background-color:var(--main-h-bc); */
  color: var(--main-h-color);
  padding-top: 200px;
  padding-bottom: 210px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.29), rgba(47, 48, 58, 0.29)), url(../img/team.jpg);
}

#mybutton {
  background-color: var(--my-button-bc);
  width: 200px;
  height: 40px;
  border-radius: 4px;
  color: var(--team-color);
}

.galery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.galery_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  gap: 30px;
}

.galery_items > h4 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.galery_items > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.galery_items::before {
  content: "";
  display: block;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.galery_items:nth-child(1)::before {
  background-image: url("../img/clock.svg");
}

.galery_items:nth-child(2)::before {
  background-image: url("../img/antenna.svg");
}

.galery_items:nth-child(3)::before {
  background-image: url("../img/diagram.svg");
}

.galery_items:nth-child(4)::before {
  background-image: url("../img/astronaut.svg");
}

.works {
  padding-bottom: 94px;
  padding-top: 94px;
}

.works_list {
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.works_items {
  position: relative;
}

.works_items-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.7725490196);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.team {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_items {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.info_team-title {
  margin-top: 30px;
}

.icon-wraper {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0 32px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.icon-wraper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  /* outline: #000 1px solid; */
  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.icon-wraper-item:hover {
  background-color: var(--my-button-bc);
}

.icon-wraper-item:hover > .team-icon {
  fill: #fff;
}

.team_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.info_team > h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.info_team > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.company {
  padding-bottom: 94px;
  padding-top: 94px;
}

.company-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.company-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.company-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: #BDBDBD;
}

.searvice {
  padding: 94px;
}

.searvice-filter_list {
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searvice-filter_items {
  padding: 6px 25px;
  background-color: var(--nav-bk);
  border-radius: 5px;
}

.searvice-filter_items:hover {
  color: var(--main-h-color);
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.searvice_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.searvice_items {
  margin-top: 34PX;
  /* flex-basis: calc((100% - 30px * 2) / 3); */
}

.searvice_items:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.searvice_text {
  padding: 24px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

footer > a {
  color: var(--footer-a);
}

footer {
  justify-self: center;
  width: 1600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-h-bc);
  color: var(--main-h-color);
  /* line-height: 2; */
}

footer > .container > a {
  color: rgba(255, 255, 255, 0.3803921569);
  display: block;
}

.footer-icons {
  justify-content: center;
  flex-direction: column;
  /* gap: 12px; */
}

.footer-icon-text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

#footer-WebStudio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-top: 60px;
}

.footer_span_studio {
  color: white;
}

.footer-icon-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 16px; */
  /* margin-bottom: 30px; */
  /* padding: 0 32px; */
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(52, 51, 51, 0.5529411765);
  visibility: visible;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 528px;
  height: 580px;
  background-color: white;
  padding: 30px;
  transform: translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #757575;
  border-radius: 100%;
}

.modal-close-button:hover {
  fill: var(--my-button-bc);
}

.icon-modal-button {
  width: 11px;
  height: 11px;
}

.icon_close:hover {
  fill: var(--axent-color);
}

.icon_close {
  display: flex;
  fill: #000;
  align-items: center;
  justify-content: center;
}

.modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 448px;
  height: 58px;
  border-radius: 5px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-top: 3px;
  padding-left: 42px;
  outline: none;
}

.modal-span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-span-comm {
  width: 448px;
  height: 138px;
}

.icon-modal {
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 38px;
}

.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  outline: none;
  padding: 16px 12px;
  resize: none;
}

.modal-textarea:focus-within {
  border-color: #2196f3;
}

.modal-textarea:focus-within::placeholder {
  color: #2196f3;
}

.modal-textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus-within {
  border-color: #2196f3;
}

.modal-label:focus-within .icon_modal {
  fill: #2196f3;
  outline: none;
}

/* .modal_label input:not(:placeholder-shown) {
}

.modal_label input:placeholder-shown {
} */
.copy_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.copy_input {
  display: flex;
}

.copy_span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.copy_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 4px;
}

.button_label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_label:hover {
  background-color: #1c6097;
  color: #af9e9e;
}

.menu-container.is-open {
  /* display: flex; */
  /* justify-content: center; */
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  gap: 70px;
}

.modal-svg {
  width: 100px;
  /* height: 200px; */
}

.menu-toggle {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */