.company{
    padding-bottom: 94px;
    padding-top: 94px;
}

.company-title{
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;
}

.company_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.company-item {
        display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}

.company-icon{
    width: 106px;
    height: 60px;
    fill: #BDBDBD;
}