.footer-flex {
    display: flex;
    align-items: baseline;
    gap: 70px;
}
























footer>a {
    color: var(--footer-a);
}

footer {
    justify-self: center;
    width: 1600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-h-bc);
    color: var(--main-h-color);
    /* line-height: 2; */

}

footer>.container>a {
    color: #ffffff61;
    display: block;
}

.footer-icons{
    justify-content: center;
    flex-direction: column;
    /* gap: 12px; */

}

.footer-icon-text{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
margin-bottom: 10px;
}

.footer-tel{
    
}



#footer-WebStudio{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-top: 60px;
}



.footer_span_studio {
    color: white;
}





.footer-icon-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 16px; */
    /* margin-bottom: 30px; */
    /* padding: 0 32px; */
}