// .main_photo {
//     justify-self: center;
//     text-align: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     width: 100%;
//     padding-top: 7%;
//     font-size: 30px;
//     /* background-color:var(--main-h-bc); */
//     color: var(--main-h-color);
//     padding-top: 200px;
//     padding-bottom: 210px;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.29), rgba(47, 48, 58, 0.29)), url(../img/team.jpg);
// }

// #mybutton {
//     background-color: var(--my-button-bc);
//     width: 200px;
//     height: 40px;
//     border-radius: 4px;
//     color: var(--team-color);
// }