.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3433338d;
    visibility: visible;
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 528px;
  height: 580px;
  background-color: white;
  padding: 30px;
  transform: translate(-50%, -50%);
  transform:scale(1) translate(-50%, -50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #757575;
    border-radius: 100%;
}

.modal-close-button:hover {
    fill: var(--my-button-bc);
}

.icon-modal-button {
    width: 11px;
    height: 11px;
}

.icon_close:hover {
  fill: var(--axent-color);
}
.icon_close {
  display: flex;
  fill: #000;
  align-items: center;
  justify-content: center;
}
.modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  // gap: 20px;
  width: 448px;
  height: 58px;
  border-radius: 5px;
}
.modal-button{
  padding: 10px 50px;
  border-radius: 5px;
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: var(--my-button-bc);
  // transition-property:  ;
  // transition-duration: 1s;
  
}

.modal-checkbox{
  font-family: var(--font-family);
}
.modal-flex{
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-top: 3px;
  padding-left: 42px;
  outline: none;
}
.modal-span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-span-comm{
    width: 448px;
height: 138px;
}

.icon-modal {
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 38px;
}
.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  outline: none;
  padding: 16px 12px;
  // resize: none;
}
.modal-textarea:focus-within {
  border-color: #2196f3;
}
.modal-textarea:focus-within::placeholder {
  color: #2196f3;
}
.modal-textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus-within {
  border-color: #2196f3;
}

.modal-label:focus-within .icon_modal {
  fill: #2196f3;
  outline: none;
}

/* .modal_label input:not(:placeholder-shown) {
}

.modal_label input:placeholder-shown {
} */
.copy_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.copy_input {
  display: flex;
}
.copy_span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.copy_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 4px;
}
.button_label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_label:hover {
  background-color: #1c6097;
  color: #af9e9e;
}

.menu-container.is-open {
    /* display: flex; */
    /* justify-content: center; */
  transform: translateX(0);
}

.mobile-menu{
    display:flex;
    flex-direction:column ;
    text-align: center;
    padding-top: 100px;
    gap: 70px;
}

.modal-svg{
    width: 100px;
    /* height: 200px; */
}

.menu-toggle{
    margin: 0 auto;
}