// .works {
//     padding-bottom: 94px;
//     padding-top: 94px;
// }

// .works_list {
//     gap: 30px;
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
// }

// .works_items {
//     position: relative;
// }

// .works_items-text {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: 0px;
//     width: 370px;
//     height: 70px;
//     background-color: #2f303ac5;
//     font-weight: 700;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     text-align: center;
//     color: #fff;
// }