:root {
    --main-h-color: aliceblue;
    --main-h-bc: rgb(43, 43, 53);
    --a-color: black;
    --footer-a: rgba(255, 255, 255, 0.5);
    --my-button-bc: rgb(64, 182, 237);
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --nav-bk: #F5F4FA;
    --team-color: #F5F4FA;
}