body {
    margin: 0px;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: currentColor;
}


ul {
    list-style-type: none;
}

.section-title {
    margin-bottom: 24px;
}

h2 {
    font-size: 27px;

    text-align: center;
}

.span_studio {
    color: #000;
}

.span_web {
    color: var(--my-button-bc);
}